<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1 style="font-family: monospace; color: #fcfcfc; padding-top: 5px;"><u>About Me</u></h1>
<br>

<div class = "row">
    <div class = "col-5 mx-5 my-4 border border-4 ">
        <h1 class="display-5 text-center" style="color: aliceblue;"><u>Lil 'Ol Me</u></h1>
        <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
        <img src="/static/CloudsPNG.png" class="rounded float-middle" width = "200" hieght= "200" alt="...">
        <p style="color: aliceblue;font-family: 'Courier New', Courier, monospace; font-size: large;">Applying to College may seem scary and it is but it is also simple because all you need to do is answer questions about yourself and the things you have done in your 3/2 years of highschool.</p>
        <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
        <img src="/static/CloudsPNG.png" class="rounded float-middle" width = "200" hieght= "200" alt="...">
    </div>

    <div class = "col-5 mx-4 mb-2 border border-5">
        <h1 class="display-4 text-center" style=" color: aliceblue;"><u>Why?</u></h1>
        <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
        <img src="/static/CloudsPNG.png" class="rounded float-middle" width = "200" hieght= "200" alt="...">
        <p style="color: aliceblue;font-family: 'Courier New', Courier, monospace; font-size: large;">My goal is to make the College application season easier for people so that they can enjoy the time they have with their families instead of being worried and stressed about the applications.</p>
        <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
        <img src="/static/CloudsPNG.png" class="rounded float-middle" width = "200" hieght= "200" alt="...">
    </div>
    <div class="container text-center border border-5">
        <h1 class="display-5" style="color: aliceblue;font-family: 'Courier New', Courier, monospace;">HARRY POTTER AND THE MAGICLY REDDISH RED STONE</h1>
        <div class="row">
            <div class="column">
                <img src="https://media1.tenor.com/m/2GBK8X7jSP8AAAAd/rat-eats-mm-rat.gif" width="600px" height="400px">
                <img src="https://i.imgflip.com/5xqa6k.png" height="400px">
            </div>
        </div>
        <br>
    </div>
    <br>    
</div>

{% endblock %}