
  
    {% extends 'base.html' %}


{% block body %}
    <div style="font-family: 'Courier New', Courier, monospace; color: beige;">  
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "300" height= "120" alt="...">
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "300" height= "120" alt="...">
    <img src="/static/CloudsPNG.png" class="rounded float-end" width = "300" height= "120" alt="...">
    <img src="/static/CloudsPNG.png" class="rounded float-end" width = "300" height= "120" alt="...">
      <!-- <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="..."> -->
      <!-- <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="..."> -->
      <!-- <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" height= "120" alt="..."> -->
      <!-- <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" height= "120" alt="..."> -->
    
    <h1 class="display-4 text-center" style="color: aliceblue;">Welcome To The College List</h1>

    <div class="container text-left display-7 text-center border border-5 " >
        <div class="row">
        <div class="col">
          <h3 style="font-size: 30px;"><u><b>My Goal:</b></u></h3>
          <p style="font-size: 20px;">I hope to give students a basic idea of what certain Colleges are, whether that is by letting them know the location, what the seasons feel like throughout the year, the cost of attendance, the requirements, and what they are recognized for.</p>
        </div>
    </div>
    </div>

    <img src="/static/CloudsPNG.png" class="rounded float-end" width = "300" hieght= "200" alt="...">
    <img src="/static/CloudsPNG.png" class="rounded float-end" width = "300" hieght= "200" alt="...">


     
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "300" height= "120" alt="...">
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "300" height= "120" alt="...">

          
     
<p></p>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Seal_of_University_of_California%2C_Berkeley.svg/1200px-Seal_of_University_of_California%2C_Berkeley.svg.png"class="d-block w-25" alt="..." height="300"
        style="margin-left: auto; margin-right: auto;">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.freebiesupply.com/images/large/2x/ucla-logo-png-transparent.png" class="d-block w-25" alt="..." height="300"
        style="margin-left: auto; margin-right: auto;">
      </div>
      <div class="carousel-item">
        <img src="https://seeklogo.com/images/S/san-francisco-state-university-logo-9C46594ACE-seeklogo.com.png" class="d-block w-25" alt="..." height="300"
        style="margin-left: auto; margin-right: auto;">
        <div class="carousel-caption d-none d-md-block">
          <h5>San Francisco State University</h5>
          <p>Recognized for its Cinema, Music, and Writing programs.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
  <br>



    
    


    

    {% endblock %}

    