{% extends "base.html" %}

{% block body %}
        <h1 style="font-family: 'Courier New', Courier, monospace;color: aliceblue;"><strong>School Form</strong></h1>

        <form method="post">
            {{ form.hidden_tag() }}
            <p>
                {{form.mascot.label}}<br>
                {{form.mascot()}}
                {% for error in form.mascot.errors %}
                    <br> <span style="color: red;"> [{{ Error}}]</span>
                {% endfor %}
            </p>
            <p>
                {{form.year_built.label}}<br>
                {{form.year_built()}}
                {% for error in form.mascot.errors %}
                    <br> <span style="color: red;"> [{{ Error}}]</span>
                {% endfor %}
            </p>
            <p>
                {{form.location_1.label}}<br>
                {{form.location_1()}}
                {% for error in form.mascot.errors %}
                    <br> <span style="color: red;"> [{{ Error}}]</span>
                {% endfor %}
            </p>
            <p>
                {{form.Price.label}}<br>
                {{form.Price()}}
                {% for error in form.mascot.errors %}
                    <br> <span style="color: red;"> [{{ Error}}]</span>
                {% endfor %}
            </p>
            <p>
                {{form.submit()}}
            </p>
        </form>
    
{% endblock %}